In [38]:
import os
import pandas as pd
import numpy as np
import json
import shutil
import datetime as dt
import openpyxl

import ipywidgets
import ipywidgets as widgets
import time, sys
from IPython.display import clear_output
import scipy.special as sps
from scipy import *
import warnings
from scipy.stats import kurtosis
from scipy.stats import skew
from scipy import stats
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt

# Calculation of Global Rank

In [30]:
path = 'D:\\Michael\\Data\\Ratings\\Ratings from Postgre\\'
pathnew = 'D:\\Michael\\Data\\Ratings\\'
# rank = ['Billionaire', 'Newsletter', 'Eps', 'FScore', 'Health', 'HealthTrend', 'Sector', 'Timing', 'Strategy', 'LikeFolio', 'Rsi', 'Georgy']
# rank = ['Billionaire', 'Newsletter', 'Health', 'HealthTrend', 'Sector', 'Timing', 'Strategy', 'LikeFolio']
# rank = ['Billionaire', 'Newsletter', 'Health', 'HealthTrend', 'Sector', 'Timing', 'Strategy', 'LikeFolio', 'Rsi', 'Georgy']
# Result = pd.DataFrame()
# rank = ['Billionaire','Newsletter']

i = 0;
# Billi = pd.DataFrame()
# News = pd.DataFrame()
# EPS = pd.DataFrame()
# Fscore = pd.DataFrame()
# Health = pd.DataFrame()
# HT = pd.DataFrame()
# Sect = pd.DataFrame()
# Tim = pd.DataFrame()
# Strat = pd.DataFrame()
# Like = pd.DataFrame()
# Rsi = pd.DataFrame()
Georg = pd.DataFrame()
for filename in os.listdir(path):
    i += 1
    clear_output(wait = True)
    print('Downloading: ' + str(round(i*100/77656,2)) + "%")
    dat = pd.DataFrame()
    
#     if filename[filename.find("_") + 1:filename.find(".")] == 'BillionaireRank':
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         Billi = Billi.append(dat)
        
#     if (filename[filename.find("_") + 1:filename.find(".")] == 'NewsletterRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         News = News.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'EpsRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         EPS = EPS.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'FScoreRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         Fscore = Fscore.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'HealthRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         Health = Health.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'HealthTrendRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         HT = HT.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'SectorRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         Sect = Sect.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'TimingRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         Tim = Tim.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'StrategyRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         Strat = Strat.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'LikeFolioRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         Like = Like.append(dat)

#     if (filename[filename.find("_") + 1:filename.find(".")] == 'RsiRank'):
#         dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
#         Rsi = Rsi.append(dat)

    if (filename[filename.find("_") + 1:filename.find(".")] == 'GeorgyRank'):
        dat = pd.read_csv(path + filename, parse_dates = [' Date'], dayfirst = False, usecols=['Symbol',' Date',' Rank'])
        Georg = Georg.append(dat)
    
            
        
# Billi.rename(columns={' Rank': 'Billionaire'}, inplace = True)
# News.rename(columns={' Rank': 'Newsletter'}, inplace = True)
# EPS.rename(columns={' Rank': 'Eps'}, inplace = True)
# Fscore.rename(columns={' Rank': 'Fscore'}, inplace = True)
# Health.rename(columns={' Rank': 'Health'}, inplace = True)
# HT.rename(columns={' Rank': 'HealthTrend'}, inplace = True)
# Sect.rename(columns={' Rank': 'Sector'}, inplace = True)
# Tim.rename(columns={' Rank': 'Tim'}, inplace = True)
# Strat.rename(columns={' Rank': 'Strategy'}, inplace = True)
# Like.rename(columns={' Rank': 'Likefolio'}, inplace = True)
# Rsi.rename(columns={' Rank': 'Rsi'}, inplace = True)
Georg.rename(columns={' Rank': 'Georgy'}, inplace = True)

# Result = Billi


# Result = Result.merge(News, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(EPS, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(Fscore, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(Health, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(HT, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(Sect, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(Tim, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(Strat, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(Like, how='outer', on = ['Symbol',' Date'])


# Result = Result.merge(Rsi, how='outer', on = ['Symbol',' Date'])


Result1 = Result.merge(Georg, how='outer', on = ['Symbol',' Date'])

Result1

Downloading: 100.0%

,Symbol,Date,Billionaire,Newsletter,Health,HealthTrend,Sector,Tim,Strategy,Likefolio,Georgy
0,AACG,2008-01-29,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN
1,AACG,2008-01-30,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN
2,AACG,2008-01-31,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN
3,AACG,2008-02-01,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN
4,AACG,2008-02-02,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27379442,ZYXI,2022-07-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
27379443,ZYXI,2022-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
27379444,ZYXI,2022-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
27379445,ZYXI,2022-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
27379446,ZYXI,2022-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [32]:
aaa = Result1.iloc[:,2:]
aaa = aaa.drop(columns = ['Georgy'])
aaa

MemoryError: Unable to allocate 1.84 GiB for an array with shape (9, 27379447) and data type float64

In [28]:
Result.to_csv(pathnew + 'GlobalRank' + '\\' + 'ForGlobalRankwtEFR.csv', index = False)

In [4]:
ff = Result.iloc[:,0:2]
ff['StrongBearish'] = Result[Result == 1].sum(axis = 1)
ff['StrongBearish'] = pd.DataFrame(ff['StrongBearish']).astype("int64")
ff['Bearish'] = Result[Result == 2].sum(axis = 1)
ff['Bearish'] = pd.DataFrame(ff['Bearish']/2).astype("int64")
ff['Neutral'] = Result[Result == 3].sum(axis = 1)
ff['Neutral'] = pd.DataFrame(ff['Neutral']/3).astype("int64")
ff['Bullish'] = Result[Result == 4].sum(axis = 1)
ff['Bullish'] = pd.DataFrame(ff['Bullish']/4).astype("int64")
ff['StrongBullish'] = Result[Result == 5].sum(axis = 1)
ff['StrongBullish'] = pd.DataFrame(ff['StrongBullish']/5).astype("int64")
ff['StrongBullish'] = Result[Result == 5].sum(axis = 1)
ff['StrongBullish'] = pd.DataFrame(ff['StrongBullish']/5).astype("int64")
ff['N'] = ff.sum(axis = 1, numeric_only=True)

ff['StrongBearish'] = ff['StrongBearish']*(-2)/ff['N']
ff['Bearish'] = ff['Bearish']*(-1)/ff['N']
ff['Neutral'] = ff['Neutral']*0/ff['N']
ff['Bullish'] = ff['Bullish']/ff['N']
ff['StrongBullish'] = ff['StrongBullish']*2/ff['N']
ff['BullBearDifference'] = ff.iloc[:,[2,3,5,6]].sum(axis = 1)

ff.loc[((ff['BullBearDifference'] > 0) ), 'FinalRank'] = 1 + ff['BullBearDifference']
ff.loc[((ff['BullBearDifference'] < 0) ), 'FinalRank'] = ff['BullBearDifference'] - 1
ff.loc[((ff['BullBearDifference'] == 0) ), 'FinalRank'] = 0

ff.loc[((ff['FinalRank'] >= (-3)) & (ff['FinalRank'] < (-2))), 'GlobalRank'] = 1
ff.loc[((ff['FinalRank'] >= (-2)) & (ff['FinalRank'] <= (-1))), 'GlobalRank'] = 2
ff.loc[((ff['FinalRank'] > (-1)) & (ff['FinalRank'] < 1)), 'GlobalRank'] = 3
ff.loc[((ff['FinalRank'] >= 1) & (ff['FinalRank'] < 2)), 'GlobalRank'] = 4
ff.loc[((ff['FinalRank'] >= 2) & (ff['FinalRank'] < 3)), 'GlobalRank'] = 5
ff.GlobalRank = ff.GlobalRank.astype('int64')

ff

     Symbol       Date   Rank
0      AACG 2008-01-29      3
1      AACG 2008-01-30      3
2      AACG 2008-01-31      3
3      AACG 2008-02-01      3
4      AACG 2008-02-02      3
...     ...        ...    ...
5155   AACG 2022-03-19      4
5156   AACG 2022-03-20      4
5157   AACG 2022-03-21      4
5158   AACG 2022-03-22      4
5159   AACG 2022-03-23      4

[5160 rows x 3 columns]

In [213]:
fff = ff.copy()
fff.Symbol = fff.Symbol.astype('string') + '_GRG'
fff.drop(columns=['StrongBearish', 'Bearish', 'Neutral', 'Bullish', 'StrongBullish', 'N', 'BullBearDifference', 'FinalRank'], inplace = True)
fff.to_csv(pathnew + 'GlobalRank' + '\\' + 'GlobalRankG.csv', index = False)
fff

            Symbol       Date  GlobalRank
0         AACG_GRG 2008-01-29           2
1         AACG_GRG 2008-01-30           2
2         AACG_GRG 2008-01-31           2
3         AACG_GRG 2008-02-01           2
4         AACG_GRG 2008-02-02           2
...            ...        ...         ...
22786992     Z_GRG 2022-03-19           2
22786993     Z_GRG 2022-03-20           2
22786994     Z_GRG 2022-03-21           2
22786995     Z_GRG 2022-03-22           2
22786996     Z_GRG 2022-03-23           2

[22786997 rows x 3 columns]

In [195]:
path1 = 'D:\\TickersHistory\\G\\'
path2 = 'D:\\TickersHistory\\Georgy\\'
i = 0
for filename in os.listdir(path1):
    
    Res = pd.DataFrame(columns = ['Symbol',' Date', ' Rank'])
    try:
        dat1 = pd.read_csv(path1 + filename)
    except:
        continue
    Res[' Date'] = dat1.iloc[:,0]
    Res[' Rank'] = dat1.iloc[:,1]
    Res.Symbol = filename[:filename.find("_")]
    Res.to_csv(path2 + filename[:filename.find("_")] + '_GeorgyRank.csv', index = False)
    i += 1
    
    clear_output(wait = True)
    print('Downloading: ' + str(round(i*100/5589,2)) + "%" + "   " + filename)
    
    
Res

Downloading: 94.33%   ZYXI_G.csv

     Symbol       Date   Rank
0      ZYXI   7/2/2019      5
1      ZYXI   7/3/2019      5
2      ZYXI   7/4/2019      5
3      ZYXI   7/5/2019      5
4      ZYXI   7/6/2019      5
...     ...        ...    ...
1111   ZYXI  7/17/2022      5
1112   ZYXI  7/18/2022      5
1113   ZYXI  7/19/2022      5
1114   ZYXI  7/20/2022      5
1115   ZYXI  7/21/2022      5

[1116 rows x 3 columns]

In [69]:
ff = Result.iloc[:,0:2]
ff['StrongBearish'] = Result[Result == 1].sum(axis = 1)
ff['StrongBearish'] = pd.DataFrame(ff['StrongBearish']).astype("int64")
ff['Bearish'] = Result[Result == 2].sum(axis = 1)
ff['Bearish'] = pd.DataFrame(ff['Bearish']/2).astype("int64")
ff['Neutral'] = Result[Result == 3].sum(axis = 1)
ff['Neutral'] = pd.DataFrame(ff['Neutral']/3).astype("int64")
ff['Bullish'] = Result[Result == 4].sum(axis = 1)
ff['Bullish'] = pd.DataFrame(ff['Bullish']/4).astype("int64")
ff['StrongBullish'] = Result[Result == 5].sum(axis = 1)
ff['StrongBullish'] = pd.DataFrame(ff['StrongBullish']/5).astype("int64")
ff['StrongBullish'] = Result[Result == 5].sum(axis = 1)
ff['StrongBullish'] = pd.DataFrame(ff['StrongBullish']/5).astype("int64")
ff['N'] = ff.sum(axis = 1, numeric_only=True)

ff

,Symbol,Date,StrongBearish,Bearish,Neutral,Bullish,StrongBullish,N
0,AACG,2008-01-29,0,1,9,0,0,10
1,AACG,2008-01-30,0,1,9,0,0,10
2,AACG,2008-01-31,0,1,9,0,0,10
3,AACG,2008-02-01,0,1,9,0,0,10
4,AACG,2008-02-02,0,1,9,0,0,10
...,...,...,...,...,...,...,...,...
21088,AAL,2022-03-19,0,0,0,1,0,1
21089,AAL,2022-03-20,0,0,0,1,0,1
21090,AAL,2022-03-21,0,0,0,1,0,1
21091,AAL,2022-03-22,0,0,0,1,0,1
21092,AAL,2022-03-23,0,0,0,1,0,1

In [70]:
ff['StrongBearish'] = ff['StrongBearish']*(-2)/ff['N']
ff['Bearish'] = ff['Bearish']*(-1)/ff['N']
ff['Neutral'] = ff['Neutral']*0/ff['N']
ff['Bullish'] = ff['Bullish']/ff['N']
ff['StrongBullish'] = ff['StrongBullish']*2/ff['N']
ff['BullBearDifference'] = ff.iloc[:,[2,3,5,6]].sum(axis = 1)
ff

,Symbol,Date,StrongBearish,Bearish,Neutral,Bullish,StrongBullish,N,BullBearDifference
0,AACG,2008-01-29,0.0,-0.1,0.0,0.0,0.0,10,-0.1
1,AACG,2008-01-30,0.0,-0.1,0.0,0.0,0.0,10,-0.1
2,AACG,2008-01-31,0.0,-0.1,0.0,0.0,0.0,10,-0.1
3,AACG,2008-02-01,0.0,-0.1,0.0,0.0,0.0,10,-0.1
4,AACG,2008-02-02,0.0,-0.1,0.0,0.0,0.0,10,-0.1
...,...,...,...,...,...,...,...,...,...
21088,AAL,2022-03-19,0.0,0.0,0.0,1.0,0.0,1,1.0
21089,AAL,2022-03-20,0.0,0.0,0.0,1.0,0.0,1,1.0
21090,AAL,2022-03-21,0.0,0.0,0.0,1.0,0.0,1,1.0
21091,AAL,2022-03-22,0.0,0.0,0.0,1.0,0.0,1,1.0
21092,AAL,2022-03-23,0.0,0.0,0.0,1.0,0.0,1,1.0

In [55]:
ff.loc[((ff['BullBearDifference'] > 0) ), 'FinalRank'] = 1 + ff['BullBearDifference']
ff.loc[((ff['BullBearDifference'] < 0) ), 'FinalRank'] = ff['BullBearDifference'] - 1
ff.loc[((ff['BullBearDifference'] == 0) ), 'FinalRank'] = 0
ff

,Symbol,Date,StrongBearish,Bearish,Neutral,Bullish,StrongBullish,N,BullBearDifference,FinalRank,GlobalRank
0,AACG,2008-01-29,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2.0
1,AACG,2008-01-30,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2.0
2,AACG,2008-01-31,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2.0
3,AACG,2008-02-01,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2.0
4,AACG,2008-02-02,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2.0
...,...,...,...,...,...,...,...,...,...,...,...
323414,ACXP,2022-03-19,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2.0
323415,ACXP,2022-03-20,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2.0
323416,ACXP,2022-03-21,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2.0
323417,ACXP,2022-03-22,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2.0
323418,ACXP,2022-03-23,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2.0

In [56]:
ff.loc[((ff['FinalRank'] >= (-3)) & (ff['FinalRank'] < (-2))), 'GlobalRank'] = 1
ff.loc[((ff['FinalRank'] >= (-2)) & (ff['FinalRank'] <= (-1))), 'GlobalRank'] = 2
ff.loc[((ff['FinalRank'] > (-1)) & (ff['FinalRank'] < 1)), 'GlobalRank'] = 3
ff.loc[((ff['FinalRank'] >= 1) & (ff['FinalRank'] < 2)), 'GlobalRank'] = 4
ff.loc[((ff['FinalRank'] >= 2) & (ff['FinalRank'] < 3)), 'GlobalRank'] = 5
ff.GlobalRank = ff.GlobalRank.astype('int64')
ff

,Symbol,Date,StrongBearish,Bearish,Neutral,Bullish,StrongBullish,N,BullBearDifference,FinalRank,GlobalRank
0,AACG,2008-01-29,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2
1,AACG,2008-01-30,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2
2,AACG,2008-01-31,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2
3,AACG,2008-02-01,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2
4,AACG,2008-02-02,0.0,-0.090909,0.0,0.000000,0.0,11,-0.090909,-1.090909,2
...,...,...,...,...,...,...,...,...,...,...,...
323414,ACXP,2022-03-19,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2
323415,ACXP,2022-03-20,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2
323416,ACXP,2022-03-21,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2
323417,ACXP,2022-03-22,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2
323418,ACXP,2022-03-23,0.0,-0.666667,0.0,0.333333,0.0,3,-0.333333,-1.333333,2

In [58]:
ff.sort_values(by = ['GlobalRank'])

,Symbol,Date,StrongBearish,Bearish,Neutral,Bullish,StrongBullish,N,BullBearDifference,FinalRank,GlobalRank
0,AACG,2008-01-29,0.000000,-0.090909,0.0,0.000000,0.000000,11,-0.090909,-1.090909,2
173176,ABUS,2014-08-07,-0.181818,-0.090909,0.0,0.181818,0.000000,11,-0.090909,-1.090909,2
173175,ABUS,2014-08-06,-0.181818,-0.090909,0.0,0.181818,0.000000,11,-0.090909,-1.090909,2
173174,ABUS,2014-08-05,-0.181818,-0.090909,0.0,0.181818,0.000000,11,-0.090909,-1.090909,2
173173,ABUS,2014-08-04,-0.181818,-0.090909,0.0,0.181818,0.000000,11,-0.090909,-1.090909,2
...,...,...,...,...,...,...,...,...,...,...,...
77057,AAWW,2022-03-08,0.000000,0.000000,0.0,0.363636,0.727273,11,1.090909,2.090909,5
77055,AAWW,2022-03-06,0.000000,0.000000,0.0,0.363636,0.727273,11,1.090909,2.090909,5
247964,ACH,2021-08-29,0.000000,0.000000,0.0,0.454545,0.545455,11,1.000000,2.000000,5
247941,ACH,2021-08-06,0.000000,0.000000,0.0,0.454545,0.545455,11,1.000000,2.000000,5
288508,ACN,2020-11-08,0.000000,0.000000,0.0,0.363636,0.727273,11,1.090909,2.090909,5