# Чтение и запись данных, часть 2

## Домашнее задание 

### Описание домашнего задания и формат сдачи

Выполните предложенные задачи — впишите свой код в ячейки после комментария `### YOUR CODE HERE ###` и сохраните изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) загрузите в личный кабинет и отправьте на проверку.

In [1]:
import pandas as pd
import urllib.request as req
import json
import sqlalchemy
import psycopg2
import pymongo

### Задача 1

Используя сервис MetaWeather узнайте, какая погода была в Лондоне 1 марта 2019 года. Для этого в первой ячейке определите идентификатор Лондона в этом сервисе, а во второй — запросите данные погоды. Обратите внимание, что сервис вернёт данные за несколько дней, а не только за 1 марта, в этой задаче это допустимо.

In [9]:
url = "https://www.metaweather.com/api/location/search/?query=london"
with req.urlopen(url) as session:
    response = session.read().decode()
    dat = json.loads(response)
dat

[{'title': 'London',
  'location_type': 'City',
  'woeid': 44418,
  'latt_long': '51.506321,-0.12714'}]

In [8]:
url = 'https://www.metaweather.com/api/location/44418/2019/3/1/'
with req.urlopen(url) as session:
    response1 = session.read().decode()
    data = json.loads(response1)
data = pd.DataFrame(data)
data

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability
0,4706336925286400,Showers,s,W,2019-03-01T21:59:01.944736Z,2019-03-01,7.593333,12.533333,12.055,4.989813,271.430734,1017.68,74,6.465989,73
1,5349522672713728,Showers,s,W,2019-03-01T18:57:01.981049Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
2,4529216366313472,Showers,s,W,2019-03-01T15:55:02.886405Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
3,4582457049350144,Showers,s,W,2019-03-01T12:53:01.886400Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
4,6272821925773312,Showers,s,W,2019-03-01T09:51:02.485187Z,2019-03-01,7.593333,12.533333,12.185,4.531242,271.430734,1017.18,75,7.897628,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,6032668781182976,Light Rain,lr,SW,2019-02-21T13:45:14.399134Z,2019-03-01,8.145000,13.480000,12.690,6.851686,232.500000,1022.67,74,NaN,75
67,5976721731878912,Light Rain,lr,SW,2019-02-21T10:43:14.990412Z,2019-03-01,8.145000,13.480000,12.690,6.851686,232.500000,1022.67,74,NaN,75
68,5134166656024576,Light Rain,lr,SW,2019-02-21T07:41:14.233862Z,2019-03-01,8.110000,14.210000,14.420,7.615973,234.000000,1015.89,74,NaN,75
69,5413591926702080,Light Rain,lr,SW,2019-02-21T04:39:14.576062Z,2019-03-01,8.110000,14.210000,14.420,7.615973,234.000000,1015.89,74,NaN,75
70,5805840887971840,Light Rain,lr,SW,2019-02-21T01:37:13.525713Z,2019-03-01,8.110000,14.210000,14.420,7.615973,234.000000,1015.89,74,NaN,75

### Задача 2

Сохраните данные погоды, полученные в предыдущей задаче, в файл `weather.json`. При сохранении используйте четыре пробела для форматирования.

In [12]:
with open('weather.json','w') as file:
    json.dump(data, file, indent = 4)

### Задача 3

Загрузите содержимое файла `weather.json` в DataFrame и выведите первые пять строк DataFrame на экран.

In [13]:
dat = pd.read_json('weather.json')
dat.head()

,id,weather_state_name,weather_state_abbr,wind_direction_compass,created,applicable_date,min_temp,max_temp,the_temp,wind_speed,wind_direction,air_pressure,humidity,visibility,predictability
0,4706336925286400,Showers,s,W,2019-03-01T21:59:01.944736Z,2019-03-01,7.593333,12.533333,12.055,4.989813,271.430734,1017.68,74,6.465989,73
1,5349522672713728,Showers,s,W,2019-03-01T18:57:01.981049Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
2,4529216366313472,Showers,s,W,2019-03-01T15:55:02.886405Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
3,4582457049350144,Showers,s,W,2019-03-01T12:53:01.886400Z,2019-03-01,7.593333,12.533333,12.055,5.207913,276.650124,1017.18,73,6.667624,73
4,6272821925773312,Showers,s,W,2019-03-01T09:51:02.485187Z,2019-03-01,7.593333,12.533333,12.185,4.531242,271.430734,1017.18,75,7.897628,73

### Задача 4

Сохраните DataFrame из предыдущей задачи в файл `result.csv`. В качестве названия столбца-индекса используйте `index`.

In [14]:
dat.to_csv('result.csv', index_label = 'index')

### Задача 5

Загрузите содержимое SQL-таблицы `ratings` в DataFrame. Выведите первые пять строк DataFrame на экран. Для подключения к БД используйте строку подключения, указанную в следующей ячейке.

In [31]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()
inspector = sqlalchemy.inspect(engine)
inspector.get_table_names()
df = pd.read_sql("select * from ratings", connect)
df.head()

   userid  movieid  rating   timestamp
0    5307      327     2.5  1183691602
1    5307      337     3.0  1182545737
2    5307      350     2.5  1183778781
3    5307      353     2.5  1183847615
4    5307      355     1.0  1182561588

### Задача 6

Сохраните первые 10000 записей датафрейма из предыдущей задачи в файл `result2.xlsx`, при сохранении задайте листу имя `MySheet`.

(Примечание: для указания имени листа в файле Excel как при чтении, так и при записи используется параметр `sheet_name`)

In [32]:
df.iloc[:10000,:].to_excel('result2.xlsx', sheet_name = 'MySheet')

### Задача 7

Определите количество документов в коллекции `users` в MongoDB. Если количество документов < 1000, то в следующей ячейке загрузите всё содержимое этой коллекции в список и выведите нулевой элемент этого списка на экран. Для подключения к MongoDB используйте строку подключения, указанную в следующей ячейке.

In [41]:
conn = 'mongodb://students:X63673t47Gl03Sq@dsstudents.skillbox.ru:27017/?authSource=movies'

client = pymongo.MongoClient(conn)
db = client['movies']
db.list_collection_names()
users = db['users']
users.count()

C:\Users\Msi-1\AppData\Local\Temp/ipykernel_18656/150318013.py:7: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  users.count()

100

In [45]:
head = users.find()
my_list = list(head)
my_list[0]

{'_id': ObjectId('5cc69095067496679c74f7a4'),
 'user_id': 'ed5da480-57a2-489c-8e68-512155ab9892',
 'first_name': 'Жанна',
 'last_name': 'Петрова',
 'mail': 'zhanna_03816@gmail.com',
 'age': 20.0}

### Задача 8

Преобразуйте список всех документов коллекции `users` из предыдущей задачи в pandas DataFrame и сохраните его содержимое в файл `result3.xlsx`.

In [47]:
dat = pd.DataFrame(my_list)
dat.to_excel('result3.xlsx')

## Дополнительные (необязательные) задачи

### Задача 9

Используя данные SQL-таблицы `ratings`, для каждого пользователя (столбец `userid`) определите средний рейтинг, который этот пользователь поставил фильмам. Результат выведите на экран. 

Группировку проведите двумя способами: с помощью `GROUP BY` в строке запроса к БД и с использованием метода `groupby` в pandas.

Для подключения к БД используйте строку подключения в следующей ячейке

In [55]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()
inspector = sqlalchemy.inspect(engine)
inspector.get_table_names()
df = pd.read_sql("select userid, avg(rating) as average_ratings from ratings group by userid", connect)
df

      userid  average_ratings
0       6114         4.000000
1       4790         4.000000
2        273         4.314685
3       3936         3.756757
4       5761         3.419220
...      ...              ...
7951    4827         2.828025
7952    7227         3.950000
7953     790         3.918605
7954    5642         4.026786
7955    2850         3.468750

[7956 rows x 2 columns]

In [56]:
df = pd.read_sql("select * from ratings ", connect)
df.groupby('userid')['rating'].mean()

userid
1       4.277778
2       3.318182
3       3.100000
4       3.500000
5       4.269231
          ...
7952    3.390244
7953    3.567568
7954    3.750000
7955    4.150000
7956    3.290640
Name: rating, Length: 7956, dtype: float64

### Задача 10

Объедините таблицы `ratings` и `keywords` по столбцам `movieid` (используйте левое объединение). Объединение проведите двумя способами: с помощью `LEFT JOIN` в строке запроса к БД и с использованием метода `merge` в pandas. Результат объединения загрузите в DataFrame и сохраните в файл `result4.csv`.

Обратите внимание, что при объединении возможно дублирование столбцов. В результирующем датафрейме не должно быть таких дублированных столбцов.

In [66]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()
inspector = sqlalchemy.inspect(engine)
inspector.get_table_names()
df = pd.read_sql("select R.*,K.tags from ratings R left join keywords K on R.movieid = K.movieid", connect)
df.head()

,userid,movieid,rating,timestamp,tags
0,5307,364,2.0,1182544784,"[{'id': 65, 'name': 'holiday'}, {'id': 417, 'n..."
1,5307,364,2.0,1182544784,"[{'id': 65, 'name': 'holiday'}, {'id': 417, 'n..."
2,5307,377,2.0,1182545393,"[{'id': 1468, 'name': 'child murderer'}, {'id'..."
3,5307,377,2.0,1182545393,"[{'id': 1468, 'name': 'child murderer'}, {'id'..."
4,5307,435,1.5,1182553540,"[{'id': 83, 'name': 'saving the world'}, {'id'..."

In [65]:
df = pd.read_sql("select * from ratings ", connect)
df1 = pd.read_sql("select * from keywords ", connect)
df = df.merge(df1)
df

,userid,movieid,rating,timestamp,tags
0,5307,327,2.5,1183691602,"[{'id': 380, 'name': 'brother brother relation..."
1,5307,327,2.5,1183691602,"[{'id': 380, 'name': 'brother brother relation..."
2,5350,327,1.0,1273479966,"[{'id': 380, 'name': 'brother brother relation..."
3,5350,327,1.0,1273479966,"[{'id': 380, 'name': 'brother brother relation..."
4,5378,327,3.0,975528294,"[{'id': 380, 'name': 'brother brother relation..."
...,...,...,...,...,...
1361271,5267,26550,4.5,1425093317,"[{'id': 894, 'name': 'depression'}, {'id': 152..."
1361272,5267,26550,4.5,1425093317,"[{'id': 894, 'name': 'depression'}, {'id': 152..."
1361273,5267,26550,4.5,1425093317,"[{'id': 894, 'name': 'depression'}, {'id': 152..."
1361274,5267,26550,4.5,1425093317,"[{'id': 894, 'name': 'depression'}, {'id': 152..."
1361275,5267,26550,4.5,1425093317,"[{'id': 894, 'name': 'depression'}, {'id': 152..."

In [67]:
df.to_csv('result4.csv')

### Задача 11

Используя объединенную таблицу из предыдущего задания, найдите все идентификаторы фильмов с тегом `africa` (но не `south africa` или любые другие). Список тегов в формате JSON записан в столбце `tags`.

In [127]:
last_column = df['tags'].astype(json)

TypeError: Cannot interpret '<module 'json' from 'C:\\Users\\Msi-1\\anaconda3\\lib\\json\\__init__.py'>' as a data type