In [ ]:
import numpy as np
import pandas as pd

In [ ]:
links = pd.read_csv('links_small.csv')
movies = pd.read_csv('movies_metadata.csv')

/var/folders/y9/369ghyk55mgbb3cn3tbv74440000gn/T/ipykernel_69487/2343206172.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_metadata.csv')

In [ ]:
ratings = pd.read_csv('ratings_small.csv')
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [ ]:
print(f'Count of unique users: {ratings.userId.nunique()}')
print(f'Count of unique movies: {ratings.movieId.nunique()}')

Count of unique users: 671
Count of unique movies: 9066

In [ ]:
import scipy.sparse as sparse
from pandas.api.types import CategoricalDtype

In [ ]:
user_index = ratings.userId.unique()
movies_index = ratings.movieId.unique()

In [ ]:
rows = ratings['userId'].astype(CategoricalDtype(categories=user_index)).cat.codes
cols = ratings['movieId'].astype(CategoricalDtype(categories=movies_index)).cat.codes

In [ ]:
matrix = sparse.csr_matrix((ratings.rating, (rows, cols)), shape=(len(user_index), len(movies_index)))

In [ ]:
matrix

<671x9066 sparse matrix of type '<class 'numpy.float64'>'
	with 100004 stored elements in Compressed Sparse Row format>

In [ ]:
matrix = matrix.toarray()

In [ ]:
matrix[0]

array([2.5, 3. , 3. , ..., 0. , 0. , 0. ])

In [ ]:
for ind, score in enumerate(matrix[50]):
    if score>=3:
        movie_id = int(links[links.movieId==movies_index[ind]].tmdbId.values[0])
        print(score, movies[movies['id']==str(movie_id)].original_title.values[0])

5.0 Stir of Echoes
5.0 Frequency
4.0 The Maltese Falcon
4.0 The Breakfast Club
4.0 Austin Powers: The Spy Who Shagged Me
4.0 Arachnophobia
3.0 The Mosquito Coast
5.0 Who Framed Roger Rabbit
5.0 The Iron Giant
5.0 The 13th Warrior
4.0 The Astronaut's Wife
3.0 Stigmata
5.0 Double Jeopardy
5.0 Stuart Little
4.0 Galaxy Quest
3.0 Desperately Seeking Susan
5.0 Entrapment
5.0 Lake Placid
5.0 Deep Blue Sea
4.0 The Thomas Crown Affair
5.0 Pacific Heights
4.0 Diner
4.0 Out of Africa
4.0 The General's Daughter
3.0 Hope Floats
4.0 Tom Jones
5.0 Run Silent, Run Deep

In [ ]:
viwed_arr = np.where(matrix[50]>0)[0]

In [ ]:
from scipy.spatial.distance import cdist

In [ ]:
np.argsort(cdist(matrix, matrix))[50][:5]

array([ 50, 578,  13, 169,   0])

In [ ]:
for ind, score in enumerate(matrix[578]):
    if score>=3:
        movie_id = int(links[links.movieId==movies_index[ind]].tmdbId.values[0])
        if movie_id not in viwed_arr:
            print(score, movies[movies['id']==str(movie_id)].original_title.values[0])

3.0 The Matrix
3.5 Memento
3.5 The Game Plan
4.5 The Twilight Saga: Breaking Dawn - Part 1