# Преобразование категориальных данных

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('data/vehicles_dataset_upd4.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,posting_date,price_category,date,odometer_km,odometer/price,region_new,region_corrected,manufacturer_model,desc_len,model_in_desc
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,2021-04-17T12:30:50-0400,high,2021-04-17 16:30:50+00:00,44163.618048,0.499036,chattanooga,chattanooga,ram: 2500 crew cab big horn,4482,0
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00,96597.654912,3.542852,newjersey,northjersey,ford: explorer 4wd 4dr xlt,968,0
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,2021-04-28T03:52:20-0700,high,2021-04-28 10:52:20+00:00,22608.064512,0.394718,reno,reno,volkswagen: golf r hatchback,4286,0
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,2021-04-17T10:08:57-0400,medium,2021-04-17 14:08:57+00:00,188761.567104,8.089034,fayetteville,fayetteville,toyota: rav4,3241,0
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,2021-04-08T15:10:56-0400,medium,2021-04-08 19:10:56+00:00,129495.864960,5.515079,knoxville,knoxville,bmw: 1 series 128i coupe 2d,4851,0

In [3]:
ohe = OneHotEncoder(sparse=False)
ohe

OneHotEncoder(sparse=False)

In [4]:
df.fuel.unique()

array(['diesel', 'other', 'gas', 'electric', 'hybrid'], dtype=object)

In [5]:
ohe.fit(df[['fuel']])

OneHotEncoder(sparse=False)

In [6]:
ohe_fuel = ohe.transform(df[['fuel']])
ohe_fuel

array([[1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.]])

In [7]:
ohe_fuel.shape

(9619, 5)

In [8]:
ohe.categories_

[array(['diesel', 'electric', 'gas', 'hybrid', 'other'], dtype=object)]

In [9]:
ohe.inverse_transform(ohe_fuel)

array([['diesel'],
       ['other'],
       ['gas'],
       ...,
       ['gas'],
       ['hybrid'],
       ['gas']], dtype=object)

In [10]:
ohe.get_feature_names()

array(['x0_diesel', 'x0_electric', 'x0_gas', 'x0_hybrid', 'x0_other'],
      dtype=object)

In [11]:
df[ohe.get_feature_names()] = ohe_fuel

In [12]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,region_new,region_corrected,manufacturer_model,desc_len,model_in_desc,x0_diesel,x0_electric,x0_gas,x0_hybrid,x0_other
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,chattanooga,chattanooga,ram: 2500 crew cab big horn,4482,0,1.0,0.0,0.0,0.0,0.0
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,newjersey,northjersey,ford: explorer 4wd 4dr xlt,968,0,0.0,0.0,0.0,0.0,1.0
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,reno,reno,volkswagen: golf r hatchback,4286,0,0.0,0.0,1.0,0.0,0.0
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,fayetteville,fayetteville,toyota: rav4,3241,0,0.0,0.0,1.0,0.0,0.0
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,knoxville,knoxville,bmw: 1 series 128i coupe 2d,4851,0,0.0,0.0,0.0,0.0,1.0

In [13]:
df.to_csv('data/vehicles_dataset_upd5.csv', index=False)