In [2]:
import os
import pandas as pd
import numpy as np
import json
import shutil
import datetime as dt
import openpyxl

In [3]:
pathold = 'D:\\Desktop\\New folder (2)\\26B\\'
pathnew = 'D:\\Desktop\\New folder (2)\\27Bi\\'
Result = pd.DataFrame()
n = 0
k = 0
for filename in os.listdir(pathold):
    
    dat = pd.read_csv(pathold + filename, parse_dates = [' Date open'], dayfirst = False)
    a = dat.iloc[:,7].max()
    count0 = dat.iloc[:,0].count()
    for filename1 in os.listdir(pathnew):
        if (filename1.count(filename)) > 0:
            
            dat1 = pd.read_csv(pathnew + filename1, parse_dates = ['FilingOpenDate'], dayfirst = False)
            b = dat1.iloc[:,7].max()
            count1 = dat1.iloc[:,0].count()
            fd2 = dat1.iloc[1,3]
            fn = filename1
            
    
    if (a/b>2):
        Result.loc[n,'Name'] = filename[:-4]
        Result.loc[n,'Name2'] = fn[:-4]
        Result.loc[n,'PositionSize'] = 'Extrimal small'
        
        
        
    elif (a/b<0.5):
        Result.loc[n,'Name'] = filename[:-4]
        Result.loc[n,'Name2'] = fn[:-4]
        
        Result.loc[n,'PositionSize'] = 'Extrimal large'
        
        
    else:
        Result.loc[n,'Name'] = filename[:-4]
        Result.loc[n,'Name2'] = fn[:-4]
        Result.loc[n,'PositionSize'] = 'normal'
        
    Result.loc[n, 'Ratio_PosSize'] = a/b
    Result.loc[n, 'absolut max'] = b
    
    Result.loc[n, 'old_count'] = count0
    Result.loc[n, 'new_count'] = count1
    Result.loc[n, 'Diff count'] = count0/count1
    Result.loc[n, 'first_date1'] = dat.iloc[1,3]
    Result.loc[n, 'first_date2'] = fd2
    n += 1
    
    
Result['Diff_days'] = Result['first_date1']-Result['first_date2']
#Result.sort_values(['PositionSize', 'Diff'], ascending = [True, False])
Result.sort_values('Diff_days', ascending = True)
#Result.to_csv('C:\\Users\\Msi-1\\Desktop\\New folder (2)\\For analyse.csv', index_label = 'index')

,Name,Name2,PositionSize,Ratio_PosSize,absolut max,old_count,new_count,Diff count,first_date1,first_date2,Diff_days
24,Watsa,PremWatsa,normal,1.879902e+00,1.461728e+09,2168.0,2076.0,1.044316,2007-08-09,2021-08-14,-5119 days
0,Ackman,BillAckman,normal,1.179282e+00,4.801688e+09,481.0,459.0,1.047930,2006-02-14,2015-08-14,-3468 days
16,Paulson,JohnPaulson,Extrimal small,3.137809e+08,5.354055e+09,4310.0,3511.0,1.227570,2002-02-07,2006-11-14,-1741 days
6,Dell,MichaelDell,normal,1.097999e+00,2.144274e+08,254.0,412.0,0.616505,2002-02-14,2006-05-15,-1551 days
20,Tepper,DavidTepper,Extrimal small,2.600315e+00,2.051517e+09,745.0,930.0,0.801075,2016-05-13,2018-08-14,-823 days
15,Pabrai,MohnishPabrai,normal,9.634752e-01,2.792007e+08,193.0,189.0,1.021164,2012-05-11,2012-11-14,-187 days
18,Schwab,CharlesSchwab,normal,7.126939e-01,7.412418e+09,2887.0,3144.0,0.918257,2011-02-11,2011-02-14,-3 days
4,Coleman,ChaseColeman,normal,1.340910e+00,5.129398e+09,3588.0,3382.0,1.060911,2002-02-14,2002-02-14,0 days
9,Gates,BillGates,normal,9.911123e-01,1.341092e+10,2258.0,2111.0,1.069635,2002-11-14,2002-11-14,0 days
17,Robbins,LarryRobbins,normal,8.896099e-01,1.894781e+09,4415.0,3808.0,1.159401,2002-02-15,2002-02-14,1 days
12,Icahn,CarlIcahn,normal,9.515537e-01,1.410326e+10,1043.0,922.0,1.131236,2004-02-17,2004-02-14,3 days
23,VonMueffling,WilliamVonMueffling,normal,8.914215e-01,1.055162e+09,2949.0,2621.0,1.125143,2004-02-17,2004-02-14,3 days
10,Greenberg,GlennGreenberg,normal,9.013557e-01,1.405698e+09,551.0,622.0,0.885852,2012-07-09,2012-05-15,55 days
21,Ubben,JeffreyUbben,normal,6.654460e-01,4.354200e+09,299.0,852.0,0.350939,2016-08-15,2015-11-14,275 days
7,Edelman,JosephEdelman,normal,1.637708e+00,7.867467e+08,7189.0,5661.0,1.269917,2003-03-27,2002-02-14,406 days
8,Einhorn,DavidEinhorn,normal,1.324617e+00,1.942160e+09,2630.0,2286.0,1.150481,2002-02-12,1999-11-14,821 days
14,Loeb,DanLoeb,normal,8.471863e-01,3.275832e+09,3426.0,3040.0,1.126974,2002-02-13,1999-11-14,822 days
2,Berkowitz,BruceBerkowitz,normal,9.862097e-01,4.187989e+09,2059.0,2242.0,0.918376,2002-02-14,1999-11-14,823 days
3,Buffett,WarrenBuffett,normal,8.191732e-01,1.330610e+11,2941.0,3197.0,0.919925,2002-02-14,1999-11-14,823 days
22,VanDenBerg,ArnoldVanDenBerg,normal,8.917659e-01,1.616646e+08,3899.0,5029.0,0.775303,2002-08-05,2000-02-14,903 days
13,Klarman,SethKlarman,Extrimal small,6.668479e+07,2.024450e+09,2271.0,1914.0,1.186520,2002-08-13,1999-11-14,1003 days
1,Ainslie,LeeAinslie,Extrimal large,1.843326e-01,4.026520e+09,9292.0,11542.0,0.805060,2002-08-16,1999-11-14,1006 days
19,Soros,GeorgeSoros,Extrimal large,1.530103e-03,1.721470e+12,16076.0,15271.0,1.052714,2006-11-14,1999-11-14,2557 days
11,Halvorsen,AndreasHalvorsen,normal,6.276250e-01,3.907964e+09,2527.0,4699.0,0.537774,2010-11-15,2000-02-14,3927 days
5,Dalio,RayDalio,Extrimal large,9.784817e-03,3.198250e+11,4370.0,21302.0,0.205145,2018-02-13,2006-02-14,4382 days

In [3]:
path = 'D:\\Michael\\Data\\Louis Navalier\\Tickers\\'
for filename in os.listdir(path):
    print(filename[:-4] + ', ', end='' )

AP, APL, BS, BSL, GI, GIL, PG, PGL, PP,

In [8]:
path1 = 'C:\\Users\\Msi-1\\Desktop\\New folder (2)\\'
line = 'AndreasHalvorsen, ArnoldVanDenBerg, BillAckman, BillGates, BruceBerkowitz, CarlIcahn, CharlesSchwab, ChaseColeman, DanLoeb, DavidEinhorn, DavidTepper, GlennGreenberg, JeffreyUbben, JohnPaulson, JosephEdelman, KerrNeilson, LarryRobbins, LouSimpson, MichaelDell, MohnishPabrai, PremWatsa, SethKlarman, WarrenBuffett, WilliamVonMueffling, LeeAinslie, GeorgeSoros'
res = line.split(', ')
Cap = pd.DataFrame()
n = 0
for i in res:
    for filenames in os.listdir(path1 + i + '\\'):
        if filenames.count('Equities') > 0:
            
            Eq = pd.read_excel(path1 + i + '\\' + filenames, sheet_name = 'InvestedCapital')
            MK = Eq.iloc[:,1].max() / 1000000000
            MKB = Eq.iloc[:,4].max() / 1000000000
            
    Cap.loc[n,'Name2'] = i
    Cap.loc[n,'MK'] = MK
    Cap.loc[n,'MKB'] = MKB
    n += 1
Cap.sort_values('MK', ascending = True)
# Result = Result.merge(Cap)
# Result
res

['AndreasHalvorsen',
 'ArnoldVanDenBerg',
 'BillAckman',
 'BillGates',
 'BruceBerkowitz',
 'CarlIcahn',
 'CharlesSchwab',
 'ChaseColeman',
 'DanLoeb',
 'DavidEinhorn',
 'DavidTepper',
 'GlennGreenberg',
 'JeffreyUbben',
 'JohnPaulson',
 'JosephEdelman',
 'KerrNeilson',
 'LarryRobbins',
 'LouSimpson',
 'MichaelDell',
 'MohnishPabrai',
 'PremWatsa',
 'SethKlarman',
 'WarrenBuffett',
 'WilliamVonMueffling',
 'LeeAinslie',
 'GeorgeSoros']

In [5]:
path2 = 'D:\\Michael\\Data\\Louis Navalier\\Auto\\Results\\'
pathnew = 'D:\\Michael\\Data\\Louis Navalier\\Tickers\\'
line1 = 'AP, APL, BS, BSL, GI, GIL, PG, PGL, PP' 
res1 = line1.split(', ')
County = pd.DataFrame()
n = 0
for i in res1:
    for filenames in os.listdir(path2 + i + '\\'):
        if filenames.count('Trade') > 0:
            print(i)
            Tr1 = pd.read_excel(path2 + i + '\\' + filenames, sheet_name = 'Origin_origin weights')
            Count_trades = Tr1.iloc[:,0].count()
            Tr2 = pd.read_csv(pathnew + i + '.csv')
            Count_tickers = Tr2.iloc[:,0].count()
            
    County.loc[n,'Name2'] = i
    County.loc[n,'Count_trades'] = Count_trades
    County.loc[n,'Count_tickers'] = Count_tickers
    n += 1


            
County['%Proctrades'] = County['Count_trades'] * 100 / County['Count_tickers']
County.sort_values('Name2', ascending = True)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'D:\\Michael\\Data\\Louis Navalier\\Auto\\Results\\AP\\'

In [22]:
County.describe()

       Count_trades  Count_tickers  %Proctrades
count     26.000000         26.000    26.000000
mean    3222.923077       3241.000    99.696009
std     3360.558429       3399.942     0.444293
min      189.000000        189.000    98.362910
25%      923.750000        925.750    99.480117
50%     2454.000000       2461.500    99.936566
75%     3670.500000       3679.250   100.000000
max    15021.000000      15271.000   100.000000

In [48]:
pathold = 'D:\\Michael\\Data\\Billionaires_Jan_2022\\Old tickers\\'
pathnew = 'D:\\Michael\\Data\\Billionaires_Jan_2022\\1_17_2022 Billionaires Data\\Tickers\\'
Match = pd.DataFrame()
n = 0
for filename in os.listdir(pathold):
    
        
    dat = pd.read_csv(pathold + filename, parse_dates = [' Date open'], dayfirst = False)
    k = 0
    k1 = 0
    dat = dat[dat[' Date open'] > '1/1/2014']


    for filename1 in os.listdir(pathnew):
        if (filename1.count(filename[:-4])) > 0:
            dat1 = pd.read_csv(pathnew + filename1, parse_dates = ['FilingOpenDate'], dayfirst = False)
            dat1['FilingOpenDate'] = pd.to_datetime(dat1['FilingOpenDate']).dt.normalize()
            dat1 = dat1[dat1['FilingOpenDate'] < '1/1/2021']
            dat1 = dat1 [dat1['FilingOpenDate'] > '1/1/2014']
            fn = filename1
    dat['YearMonth'] = dat[' Date open'].map(lambda x: 100*x.year + x.month)
    dat1['YearMonth'] = dat1['FilingOpenDate'].map(lambda x: 100*x.year + x.month)
    dat['General'] = dat.iloc[:,0].astype('str') + dat.iloc[:,10].astype('str') 
    dat1['General'] = dat1.iloc[:,0].astype('str') + dat1.iloc[:,9].astype('str') 
    dat['General2'] = dat.iloc[:,0].astype('str') + dat.iloc[:,10].astype('str') + dat.iloc[:,7].astype('int').astype('str')
    dat1['General2'] = dat1.iloc[:,0].astype('str') + dat1.iloc[:,9].astype('str') + dat1.iloc[:,7].astype('int').astype('str')
    
    for i in range(dat['General'].count()):

        if list(dat1['General']).count(dat.iloc[i, 11]) > 0:
            k += 1
    for i in range(dat['General2'].count()):

        if list(dat1['General2']).count(dat.iloc[i, 12]) > 0:
            k1 += 1
    Match.loc[n,'Name'] = filename[:-4]
    Match.loc[n,'Name2'] = fn[:-4]
    Match.loc[n,'Count_ old trades'] = dat.shape[0]
    Match.loc[n,'Count_ new trades'] = dat1.shape[0]
    Match.loc[n,'Count_match'] = k
    Match.loc[n,'Count_match_PS'] = k1
        
   
    
    n += 1
    print('Billi = ', n)
Match['Percent'] = Match['Count_match'] * 100 / Match['Count_ old trades']
Match['Percent_PS'] = Match['Count_match_PS'] * 100 / Match['Count_ old trades']
Match.to_csv('D:\\Michael\\Data\\13f\\MatchHD.csv', index_label = 'index')
Match.sort_values('Percent_PS')

Billi =  1
Billi =  2
Billi =  3
Billi =  4
Billi =  5
Billi =  6
Billi =  7
Billi =  8
Billi =  9
Billi =  10
Billi =  11
Billi =  12
Billi =  13
Billi =  14
Billi =  15
Billi =  16
Billi =  17
Billi =  18
Billi =  19
Billi =  20
Billi =  21
Billi =  22
Billi =  23
Billi =  24
Billi =  25
Billi =  26

,Name,Name2,Count_ old trades,Count_ new trades,Count_match,Count_match_PS,Percent,Percent_PS
0,Ackman,BillAckman,215.0,231.0,200.0,0.0,93.023256,0.000000
22,Ubben,JeffreyUbben,299.0,450.0,283.0,0.0,94.648829,0.000000
19,Schwab,CharlesSchwab,2553.0,2439.0,2396.0,0.0,93.850372,0.000000
16,Pabrai,MohnishPabrai,149.0,146.0,122.0,0.0,81.879195,0.000000
15,Loeb,DanLoeb,1038.0,1019.0,900.0,0.0,86.705202,0.000000
11,Greenberg,GlennGreenberg,467.0,455.0,439.0,0.0,94.004283,0.000000
10,Gates,BillGates,529.0,506.0,526.0,0.0,99.432892,0.000000
25,WVM,WVM,822.0,764.0,553.0,0.0,67.274939,0.000000
3,BH,BruceBerkowitz,8732.0,413.0,70.0,0.0,0.801649,0.000000
6,Dalio,RayDalio,4370.0,9393.0,4240.0,0.0,97.025172,0.000000
1,Ainslie,LeeAinslie,5669.0,5539.0,5337.0,0.0,94.143588,0.000000
2,Berkowitz,BruceBerkowitz,410.0,413.0,381.0,0.0,92.926829,0.000000
20,Soros,GeorgeSoros,5696.0,4488.0,4138.0,1.0,72.647472,0.017556
9,Einhorn,DavidEinhorn,948.0,916.0,796.0,1.0,83.966245,0.105485
8,Edelman,JosephEdelman,3767.0,3363.0,3142.0,4.0,83.408548,0.106185
17,Paulson,JohnPaulson,1811.0,1564.0,1345.0,2.0,74.268360,0.110436
21,Tepper,DavidTepper,745.0,718.0,683.0,1.0,91.677852,0.134228
18,Robbins,LarryRobbins,1577.0,1490.0,1347.0,3.0,85.415346,0.190235
5,Coleman,ChaseColeman,1520.0,1440.0,1340.0,3.0,88.157895,0.197368
14,Klarman,SethKlarman,943.0,881.0,820.0,6.0,86.956522,0.636267
12,Halvorsen,AndreasHalvorsen,1732.0,1696.0,1614.0,14.0,93.187067,0.808314
23,VDB,VDB,2214.0,2119.0,1824.0,27.0,82.384824,1.219512
7,Dell,MichaelDell,137.0,144.0,137.0,5.0,100.000000,3.649635
24,Watsa,PremWatsa,1340.0,1027.0,966.0,57.0,72.089552,4.253731
13,Icahn,CarlIcahn,599.0,502.0,465.0,78.0,77.629382,13.021703
4,Buffett,WarrenBuffett,1320.0,1286.0,1249.0,360.0,94.621212,27.272727

In [23]:
Match['%Conciedence'] = Match['Count_match'] * 100 / Result['old_count']
Match.describe().iloc[:,1]

NameError: name 'Result' is not defined

In [2]:
path = 'D:\\Desktop\\New folder (2)\\27Bi\\'
for filename in os.listdir(path):
    dat = pd.read_csv(path + filename, parse_dates = ['FilingOpenDate', 'FilingCloseDate'], dayfirst = False)
    print(filename, dat.sort_values('FilingOpenDate').iloc[0, 3])

AndreasHalvorsen.csv 2000-02-14 00:00:00
ArnoldVanDenBerg.csv 2000-02-14 00:00:00
BillAckman.csv 2006-02-14 00:00:00
BillGates.csv 2002-11-14 00:00:00
BruceBerkowitz.csv 1999-11-14 00:00:00
CarlIcahn.csv 2004-02-14 00:00:00
CharlesSchwab.csv 2011-02-14 00:00:00
ChaseColeman.csv 2002-02-14 00:00:00
DanLoeb.csv 1999-11-14 00:00:00
DavidEinhorn.csv 1999-11-14 00:00:00
DavidTepper.csv 2016-05-15 00:00:00
GeorgeSoros.csv 1999-11-14 00:00:00
GlennGreenberg.csv 2012-05-15 00:00:00
JeffreyUbben.csv 2002-02-14 00:00:00
JohnPaulson.csv 2002-05-15 00:00:00
JosephEdelman.csv 2002-02-14 00:00:00
KerrNeilson.csv 2010-05-15 00:00:00
LarryRobbins.csv 2002-02-14 00:00:00
LeeAinslie.csv 1999-11-14 00:00:00
LouSimpson.csv 2012-02-14 00:00:00
MichaelDell.csv 2000-05-15 00:00:00
MohnishPabrai.csv 2012-05-15 00:00:00
PremWatsa.csv 2007-08-14 00:00:00
RayDalio.csv 2006-02-14 00:00:00
SethKlarman.csv 1999-11-14 00:00:00
WarrenBuffett.csv 1999-11-14 00:00:00
WilliamVonMueffling.csv 2004-02-14 00:00:00

In [7]:
path = 'D:\\Desktop\\New folder (2)\\27Billionaires For Legals\\'

for pathname in os.listdir(path):
    for filename in os.listdir(path + pathname + '\\'):
        if (filename.count('Equities')) > 0:
            os.rename(path + pathname + '\\' + filename,path + pathname + '\\' +  pathname + ' equity curves.xlsx')
        elif (filename.count('TradeDetails')) > 0:
            os.rename(path + pathname + '\\' + filename,path + pathname + '\\' +  pathname + ' trade details.xlsx')

In [51]:
Result = pd.DataFrame()
path2 = 'D:\\Michael\\Data\\13f\\old data (not loaded)\\'
for pathname in os.listdir(path2):
    for filename in os.listdir(path2 + pathname + '\\'):
        if (filename.count('NotLoadedList')) > 0: 
            dat2 = pd.read_csv(path2 + pathname + '\\' + filename)
            Result = Result.append(dat2)
# Result = Result.sort_values('acceptedDate', ascending = False)
Result = pd.DataFrame(Result.drop_duplicates('Symbol'))
Result.to_csv('D:\\Michael\\Data\\13f\\GeneralOldDataNotLoaded.csv', index = False)
Result

,Index,Symbol,StartDate,EndDate,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,0,WAMUQ,5/15/2006 0:00,8/14/2006 0:00,NaN,NaN,NaN,NaN
1,0,DHHXF,5/15/2006 0:00,8/14/2006 0:00,NaN,NaN,NaN,NaN
2,0,AF,5/15/2006 0:00,8/14/2006 0:00,NaN,NaN,NaN,NaN
3,0,GLBR,2/14/2011 0:00,5/16/2011 0:00,NaN,NaN,NaN,NaN
4,0,PCLN,2/17/2004 0:00,5/17/2004 0:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6,0,ANRZ,2/2/2005 12:00:00 AM,5/3/2005 12:00:00 AM,NaN,NaN,NaN,NaN
8,0,CANUY,2/17/2004 12:00:00 AM,5/17/2004 12:00:00 AM,NaN,NaN,NaN,NaN
12,0,AHOND,8/6/2007 12:00:00 AM,11/8/2007 12:00:00 AM,NaN,NaN,NaN,NaN
15,0,XPPRX,2/4/2009 12:00:00 AM,2/1/2010 12:00:00 AM,NaN,NaN,NaN,NaN
16,0,JRCOQ,2/17/2004 12:00:00 AM,5/17/2004 12:00:00 AM,NaN,NaN,NaN,NaN

In [57]:
Result = pd.DataFrame()
path2 = 'D:\\Michael\\Data\\PortPhilip_03_22\\Portfolios\\'
for filename in os.listdir(path2):
    dat2 = pd.read_csv(path2 + filename)
    Result = Result.append(dat2)
# Result = Result.sort_values('acceptedDate', ascending = False)
Result = pd.DataFrame(Result.drop_duplicates('Symbol'))
Result.to_csv('D:\\Michael\\Data\\PortPhilip_03_22\\PortPhilip.csv', index = False)
Result

,Trade Group,Position Type,% Off High,% Off Low,Adj High Close Date,Adj High Close Price,Adj High High Date,Adj High High Price,Adj Low Close Date,Adj Low Close Price,...,TStop %,Type,Underlying Stock,Underlying Stock Current Price,Underlying Stock Open Price,Value,VQ %,Weight,Yield on Cost,YTD
0,Sold,Regular,100%,NaN,07/31/2019,0.205000,08/08/2019,0.215000,10/25/2018,0.073000,...,NaN,Long,NaN,NaN,NaN,0.000000,52.16859%,1.0,NaN,NaN
1,Sold,Regular,91.89189189%,NaN,01/09/2018,1.850000,01/09/2018,1.860000,11/19/2020,0.125000,...,NaN,Long,NaN,NaN,NaN,0.150000,53.16059%,1.0,NaN,NaN
2,Sold,Regular,27.45098039%,NaN,12/31/2018,0.467809,12/31/2018,0.467809,03/23/2020,0.126311,...,NaN,Long,NaN,NaN,NaN,0.370000,71.55066%,1.0,NaN,NaN
3,Sold,Regular,75.72815534%,NaN,11/16/2017,2.705957,11/17/2017,2.784772,11/20/2018,0.694585,...,NaN,Long,NaN,NaN,NaN,0.750000,45.08503%,1.0,NaN,NaN
4,Sold,Regular,46.51162791%,NaN,03/17/2021,0.430000,03/17/2021,0.450000,04/22/2021,0.230000,...,45%,Long,NaN,NaN,NaN,0.230000,95%,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,No Groups,Regular,14.24242424%,NaN,08/07/2020,19.800000,08/07/2020,19.870000,08/17/2018,12.110000,...,NaN,Long,NaN,NaN,NaN,16.980000,13.21708%,1.0,NaN,5.0742574%
21,No Groups,Regular,24.04787813%,NaN,06/10/2021,9.190000,06/16/2021,9.310000,03/01/2021,6.040000,...,NaN,Long,NaN,NaN,NaN,9.514982,36.50381%,1.0,NaN,NaN
22,No Groups,Regular,40.17093797%,NaN,05/28/2019,4.680000,05/27/2019,4.900000,01/06/2020,2.850000,...,NaN,Long,NaN,NaN,NaN,2.800000,31.68466%,1.0,NaN,NaN
5,No Groups,Combined,NaN,NaN,05/04/2020,13.630000,05/04/2020,14.010000,01/04/2022,8.650000,...,NaN,NaN,NaN,NaN,NaN,35.840000,NaN,NaN,NaN,1.357466%
11,No Groups,Regular,13.76055638%,NaN,03/19/2020,20.025644,03/19/2020,20.294244,10/26/2016,15.459048,...,NaN,Long,NaN,NaN,NaN,17.360000,6.130433%,1.0,NaN,-3.4482758%

# Выбор файла с максимальным количеством строк

In [55]:
a=0
path3 = 'D:\\Michael\\Data\\PortPhilip_03_22\\'
for filename in os.listdir(path3):
    dat3 = pd.read_csv(path3 + filename)
    
    if dat3.shape[0] > a:
        a = dat3.shape[0]
        b = filename
print(b, a)

Small Cap Momentum Alert_All_2022-03-16.csv 205

In [ ]:
path3 = 'D:\\Michael\\Data\\PortPhilip_03_22\\'
for filename in os.listdir(path3):
    Result = pd.DataFrame()
    dat3 = pd.read_csv(path3 + filename)

# Переименование файлов

In [12]:
pathold = 'D:\\Michael\\Data\\PortPhilip_03_22(Australia)\\For legals\\'

Result = pd.DataFrame()
n = 0
k = 0
for pathname in os.listdir(pathold):
    
    
    for filename in os.listdir(pathold + '\\' + pathname):
        
        if (filename.count('Equities')) > 0:
            os.rename(pathold + '\\' + pathname + '\\' + filename, pathold + '\\' + pathname + '\\' + pathname + ' equity curves.xlsx')
        if (filename.count('TradeDetails')) > 0:
            os.rename(pathold + '\\' + pathname + '\\' + filename, pathold + '\\' + pathname + '\\' + pathname + ' trade details.xlsx')
        if filename[-4:] == 'rwch':
            
            os.rename(pathold + '\\' + pathname + '\\' + filename, pathold + '\\' + pathname + '\\' + pathname + '.rwch')
        if filename[-3:] == 'png':
            os.rename(pathold + '\\' + pathname + '\\' + filename, pathold + '\\' + pathname + '\\' + pathname + '.png')

In [3]:
pathold = 'D:\\Michael\\Data\\PortPhilip_03_22(Australia)\\For legals\\Equity curves calculation\\'


for pathname in os.listdir(pathold):
    os.rename(pathold + '\\' + pathname, pathold + '\\' + pathname[:-5] + ' curve calculation.xlsx')

# Поиск максимального капитала

In [6]:
pathold = 'D:\\Michael\\Data\\PortPhilip_03_22(Australia)\\Results\\'



for pathname in os.listdir(pathold):
    Result = pd.DataFrame()    
    for filename in os.listdir(pathold + '\\' + pathname):
        if (filename.count('Equities')) > 0:
            Result = pd.read_excel(pathold + '\\' + pathname + '\\' + filename, sheet_name = 'InvestedCapital')
            MK = Result.iloc[:,1].max()
            print(pathname + ': ' + str(MK))

ASCI: 30044.54
BDL: 9525.247
CT: 10317.87
CTF: 11290.04
ESI: 30194.0
GCIA: 22876.36
GSP: 55921.57
NEI: 26153.02
PAA: 1065.805
PT: 11569.21
RSI: 18185.05
SCMA: 16776.25
SI: 13000
TGL: 10000.0

# For L

In [55]:
pathresult = 'D:\\Michael\\Data\\PortPhilip_03_22(Australia)\\Auto\\Results\\'
strategy = pd.read_csv('D:\\Michael\\Data\\PortPhilip_03_22(Australia)\\Auto\\PortfolioStrategy.csv', index_col = 'Portfolio')
new = 'D:\\Michael\\Data\\PortPhilip_03_22(Australia)\\Auto\\For Legals\\'
trades = 'Individual Trades'
os.mkdir(new)
for pathname in os.listdir(pathresult):
    os.mkdir(new + pathname)
    os.mkdir(new + pathname + '\\' + trades)
    Equity = pd.DataFrame()
    for filename in os.listdir(pathresult + '\\' + pathname):
        if ((filename[-4:] == 'rwch') and (filename.count('_') > 0)) or ((filename[-3:] == 'png') and (filename.count('_') > 0)) or ((filename[-4:] == 'xlsx') and (filename.count('stop') > 0)):
            shutil.copy(pathresult + '\\' + pathname + '\\' + filename, new + pathname + '\\' + trades + '\\' + filename)
        if ((filename[-3:] == 'png') and (filename.count('_') == 0)) :
            shutil.copy(pathresult + '\\' + pathname + '\\' + filename, new + pathname  + '\\' + pathname + '.png')
        if ((filename[-4:] == 'rwch') and (filename.count('_') == 0)) :
            shutil.copy(pathresult + '\\' + pathname + '\\' + filename, new + pathname  + '\\' + pathname + '.rwch')
        if ((filename[-4:] == 'xlsx') and (filename.count('Equities') > 0)) :
            Equity = pd.read_excel(pathresult + pathname + '\\' + filename, sheet_name = strategy.loc[pathname,'Sheet'], usecols = ['Date', 'Origin_origin weights'])
            tradesmith = pd.read_excel(pathresult + pathname + '\\' + filename, sheet_name = 'PercentageEquities', usecols = [strategy.loc[pathname,'Strategy']])
            Equity.insert(2, strategy.loc[pathname,'Strategy'], tradesmith)
            Equity['Date'] = Equity['Date'].dt.strftime("%m/%d/%Y")
            Equity.to_excel(new + pathname  + '\\' + pathname + ' equity curves.xlsx', index = False)
        if ((filename[-4:] == 'xlsx') and (filename.count('TradeDetails') > 0)):
            tradedetails = new + pathname + '\\' + pathname + ' trade details.xlsx'
            shutil.copy(pathresult + '\\' + pathname + '\\' + filename, tradedetails)
            wb = openpyxl.load_workbook(tradedetails)
            sheet = wb.sheetnames
            for i in sheet:
                if (i != 'Origin_origin weights') and (i != strategy.loc[pathname,'Strategy']):
                    pfd = wb[i]
                    wb.remove(pfd)
            wb.save(tradedetails)